@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,700&display=swap');


:root{
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
--bg_default :#FFFFFF;
--bg_body :#F0F9FF;
--lines-color :#DDDDDD;
--body-text: #333333;
--heart-color: #DC143C;

}

*{
    margin:0;
    padding: 0;
    font-family: Nunito Sans;
}
.container{
    width:calc(100% - 120px);
    margin:auto;
}

.nav {
    padding:20px 0;
}
.row{
    display: flex;
}
.logo{
    flex-grow: 1;
}
.nav a {
    text-decoration: none;
    font-weight: 600;
    color: var(--brand-primary);
    text-transform: capitalize;
    font-size: 17px;
}

.theme{
    display: flex;
    gap:10px;
}

nav .row button{
    background-color: var(--bg_default);
    border: 1px solid var(--lines-color) ;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    padding:5px 20px;
}
nav .row button svg {
    width:15px;
    height:15px;
}
nav .row button a {
    color: var(--body-text);
    text-transform: capitalize;
    font-size:14px;
}


.header{
    position: relative;
    padding:16px 0;
}

.triangle1,.triangle2{
    width: 100%;
    height: 65px;
    position: absolute;

}
.triangle1 {
    background: linear-gradient(to left,var(--brand-secondary),var(--brand-primary));
    clip-path: polygon(100% 0%,0% 0%,0% 100% );
    z-index: 9;
}
.triangle2 {
    background-color: var(--brand-secondary);
    clip-path: polygon(100% 0%,100% 100%,0% 0% );

}
.header-content{
    text-align: center;
    width: 100%;
    padding: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    flex-wrap: wrap-reverse;
}
.header-content .welcome:first-of-type{
    font-weight: 700;
    color: var(--brand-secondary);
    font-size: 25px;
}

.header-content p:last-of-type{
    color:#949393;
}
.web{
    background-color: var(--bg_body);
    position: relative;
}
.languages{
    color: var(--brand-secondary);
}
.web .html-page ion-icon {
    color: 	#DAA520	
}
.icons{
    padding-bottom: 20px;
    display: flex;
    
}

.html-page{
    
    color: #fff;
    width: 38%;
    margin-right: 22rem;
    padding: 34px;
}
.web-html{
    background-color:var(--body-text);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
  
}
.title-sub{
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}
.access{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.sub-topices{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sub-topics{
    width: 38%;
    margin-right: 22rem;
    margin-top: 35px;
}
ul{
    list-style-type: none;
  
}
li{
    border: 1px solid var(--lines-color);
    padding: 15px;
    background-color:var(--bg_default);
    display:flex;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

ul li ion-icon{
    color: var(--brand-secondary);
    width: 23px;
    height: 23px;
    padding-right: 10px;
    flex-shrink: 0;
}
.card{
    width:22%;
    position: absolute;
    top: 36px;
    left: 60rem;
    background-color: #fff;
    padding-bottom: 10px;
    border: 1px solid var(--bg_default);
}
.card img{
    width: 100%;
    height: 12rem;
}
.intrested{
    border: 1px solid var(--bg_body);
    padding: 21px;
    margin: 10px;
    padding-bottom: 10px;
}
.intrested button{
    background-color: var(--brand-secondary);
    color: var(--bg_body);
    padding: 14px 29px;
    font-size: 22px;
    border: none;
    display: flex;
    margin-top: 9px;
}

.intrested button ion-icon{
    
    padding-left: 5px;
    width: 30px;
    height: 30px;
}
.card .credits{
    color: var(--lines-color);
    margin-left: 10px;
    text-align: center;
    margin-top: 9px;
}


.card .title{
    margin-left: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center
}
.title a {
   
    color: var(--brand-primary);
}
.title h3,span,a{
    padding-right: 5px;
}
.developed{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}
.developed ion-icon {
    color: var(--heart-color);
    padding: 7px;
    margin-top: -9px;
    width: 27px;
    height: 27px;
}

.credit{
    color: #949393;
}



@media screen and (max-width:768px){
    .container{
        width:calc(100% - 5px);
    }
    nav .row button {
        padding:5px 5px;
    }
    .nav button a {
        font-size: 13px;
    }
    .html-page,.sub-topics{
        width: 100%;
         margin-right: 0;
    }
    .card{
        width: 100%;
        position: static;
        margin-top: 28px;

    }
    .header-content .welcome:first-of-type{
        padding-top: 20px;

    }
  
}
@media (min-width:769px) and (max-width:869px){

    .triangle1,.triangle2 {
        height:40px;
    }

    .card{
        left: 28rem;
        width: 35%;
        margin-top: 4rem;
    }
    .intrested button{
        padding: 0px 5px;
        font-size: 14px;
    }
    .card .credits{
        font-size: 14px;
    }
    .card img{
        height: 10rem;
    }
    .intrested{
        font-size: 10px;
    }
    .html-page, .sub-topics{
        width: 42%;
    }
    
}
@media (min-width:870px) and (max-width:1105px){
    .card{
        left: 37rem;
    width: 32%;
    margin-top: 3rem;
    }
}
@media (min-width:1106px) and (max-width:1198px){
    .card{
        left: 45rem;
        width: 27%;
        margin-top: 4rem;
    }
}


@media screen and (max-width:490px){
    .container{
        width:calc(100% - 20px);
        flex-shrink: 0;
    }
    nav .row button svg {
        width:10px;
        height:10px;
    }

    nav .row button {
        padding:5px 10px;
    }
    .nav button a {
        font-size: 13px;
    }

  
    .theme a{
        display: none;
    }
    .header-content{
        align-items: center;
    }
   
    .header-content p:last-of-type{
    font-size: 13px;
    }
}

@media screen and (max-width:330px){
    .container{
        width:calc(100% - 5px);
    }
    nav .row button {
        padding:5px 5px;
    }
    .nav button a {
        font-size: 13px;
    }
    .theme a{
        display: none;
    }

  
    .header-content .welcome:first-of-type {
        font-size: 21px;
    }
    .header-content p:last-of-type{
        font-size: 8px;
    }
    
}
